<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/CSS/Menu.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <div class=" contenido">
        <h2>Listado de Articulos</h2>
        
        <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
        <div th:if="${articulos != null and !articulos.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Existencias</th>
                        <th>Activa</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="articulo : ${articulos}">
                        <td th:text="${articulo.descripcion}"></td>
                        <td th:text="${#numbers.fotmatDecimal(articulo.precio,3,2)}" style="text-align: right"></td>
                        <td th:text="${articulo.existencias}" style="text-align: center"></td>
                        <td><input type="checkbox" name="activo" th:checked="${articulo.activo}" disabled="true"></td>
                        <td><a th:href="@{/articulo/modificar}+${articulo.idArticulo}">Modificar</a></td>
                        <td><a th:href="@{/articulo/eliminar}+${articulo.idCArticulo}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div th:if="${articulos == null or articulos.empty}">
            No existe una lista de articulo para mostrar
        </div>
        </div>
        <footer th:replace="plantilla/plantilla :: footer" />
    </body>
</html>
