<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header"class="header"> <!-- Etiqueta para ofrecerle al browser info de que es un encabezado -->
                <nav class="nav"> <!-- Etiqueta para ilustrarle al browser que posiblemente es un menu -->
                    <a th:href="@{/}" class="logo nav-link">TechShop</a>
                    
                    <ul class="nav-menu">
                        
                        <li class="nav-menu-item">
                            <a th:href="@{cliente/listado}"class="nav-menu-link nav-link">Clientes</a>
                        </li>
                        <li class="nav-menu-item">
                            <a th:href="@{categoria/listado}"class="nav-menu-link nav-link">Categorias</a>
                        </li><li class="nav-menu-item">
                            <a th:href="@{articulo/listado}"class="nav-menu-link nav-link">Articulos</a>
                        </li>
                    </ul>

                </nav>
            
        </header>
        
        <footer th:fragment="footer" class="footer">
            <p>&COPY; Derechos Reservados 2022</p>
            
            
        </footer>
    </body>
</html>
