#encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white
}

#menu{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white


}

nav {


    background-color: black;
    color: white;

}

#barralateral{

    position: absolute;
    top: 12%;
    left: 0;
    padding: 10px;
    height: 81%;
    width: 20%;
    background-color: #00FFA0;



}

#contenido{
    position: absolute;
    top: 12%;
    left: 20%;
    padding: 10px;
    height: 81%;
    width: 80%;
    background-color: whitesmoke;
    overflow: auto;

}


#menu a {

    background-color: red;
    color: black
}

#menu a:hover {
    background-color: green;
    color: white
}

#piepagina{
    
    position: absolute;
    bottom:  0;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #AAB0A0;
    text-align: center;


}

#encabezadoTabla{
    
    background-color: coral;
    text-align: center;
    color: blue;
}

#tablaDetalle tr:nth-child(even){
    background-color: blue;
    color: white;
    
}

#tablaDetalle tr:nth-child(odd){
    background-color: greenyellow;
    color: black;
    
}

